.DS_Store
__pycache__/
venv
.vscode

# Jupyter notebook checkpoints
.ipynb_checkpoints

# Config files and folders
.idea

# Data files that should not be included in git
*.html

# Temporary files.
temp.json
