boto3==1.21.42
numpy==1.24.0
openpyxl==3.0.9
pandas==1.5.2
pytest==7.0.1
python-dotenv==0.20.0
requests==2.27.1
tqdm==4.62.3
git+https://github.com/owid/data-utils-py.git@v0.5.2-alpha#egg=owid.datautils
owid-catalog==0.3.7

